* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6fb;
  color: #f09605;
}

/* Menú fijo */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  background: linear-gradient(to right, #f09605, #e7bb74);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu a {
  background-color: #e6ecff;
  color: #664106;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.menu a:hover {
  background-color: #b3c7ff;
}


header .intro {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to right, #f09605, #e7aa47);
  color: white;
}

header .intro h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

header .intro p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.boton {
  background-color: #e6ecff;
  color: #f09605;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.boton:hover {
  background-color: #c2d3ff;
  color: #815815;
}


.grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.grid-galeria figure {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.grid-galeria figure:hover {
  transform: translateY(-5px);
}

.grid-galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid-galeria figcaption {
  background-color: #f09605;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
}
